.exit {
  animation: app-exit 500ms;
}

.exit .line > div{
  animation: line-exit 450ms;
}

#app .overview {
  animation: opacity-enter 450ms;
}

@keyframes app-exit {
  from {
    opacity: 1
  } to {
    opacity: 0 
  }
}

@keyframes opacity-enter {
  from {
    opacity:0  
  } to {
    opacity:1 
  }
}

@keyframes line-exit {
  from {
    transform : translateY(0%)
  } to {
    transform : translateY(-100%)
  }
}

@keyframes show-line {
  from{
    transform: translateY(100%);
  } to {
    transform: translateY(0%);
  }
}
