#app.exit {
  animation: exit-fade-scale 800ms;
}

#overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgb(245, 245, 245);
  transform: translateY(100%);
  position: fixed;
}

#overlay.active{
  animation: overlap 750ms;
  z-index: 50;
}

.content {
  animation: opacity-enter 300ms;
}

@keyframes exit-fade-scale {
  from {
    transform: scale(1);
    opacity: 1;
  } to {
    transform: scale(.95);
    opacity: .75;
  }
}

@keyframes overlap {
  from{
    transform: translateY(100%);
  } to {
    transform: translateY(0%);
  }
}

@keyframes opacity-enter {
  from {
    opacity:0  
  } to {
    opacity:1 
  }
}

@keyframes line-exit {
  from {
    transform : translateY(0%)
  } to {
    transform : translateY(-100%)
  }
}

@keyframes show-line {
  from{
    transform: translateY(100%);
  } to {
    transform: translateY(0%);
  }
}
