.exit {
  animation: app-exit 500ms;
}

.exit .line > div{
  animation: line-exit 450ms;
}

#app .overview {
  animation: opacity-enter 450ms;
}

@keyframes app-exit {
  from {
    opacity: 1
  } to {
    opacity: 0 
  }
}

@keyframes opacity-enter {
  from {
    opacity:0  
  } to {
    opacity:1 
  }
}

@keyframes line-exit {
  from {
    transform : translateY(0%)
  } to {
    transform : translateY(-100%)
  }
}

.overview.content .item-container{
  transform: translateY(0vh);
  animation: overview-show-projects 1.5s cubic-bezier(.34,.46,0,.98); /* Add a smooth transition */
}

.selection.content .item-container {
  transform: translateY(0%);
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
  } to {
    transform: translateY(0%);
  }
}


@keyframes overview-show-projects {
  from {
    transform: translateY(100vh);
  } to {
    transform: translateY(0vh);
  }
}

@keyframes selection-show-projects {
  from {
    transform: translateY(-100%);
  } to {
    transform: translateY(0%);
  }
}

@keyframes mobile-selection-show-projects {
  from {
    opacity: (0);
  } to {
    opacity: (1);
  }
}

@keyframes selection-show-canvas {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@keyframes show-line {
  from{
    transform: translateY(100%);
  } to {
    transform: translateY(0%);
  }
}

@media (min-width: 768px) {
  .selection.content .item-container {
    animation: selection-show-projects cubic-bezier(.34,.46,0,.98); /* Add a smooth transition */
  }
}

@media (max-width: 768px) {
  .selection.content .item-container {
    animation: show-line cubic-bezier(.34,.46,0,.98); /* Add a smooth transition */
  }
}
